<div>
    {{ collection from="testimonials" sort="order" }}
        <div class="grid grid-cols-12 mb-11 fluid-container !p-0">
            <div class="bg-neutral col-span-12 md:col-span-5 min-h-0 h-72 md:h-auto relative {{ switch between=' md:order-1 | md:order-2 ' }}">
                {{ testimonial_featured_image }}
					{{
						partial:components/picture
						:image="url"
						class="w-full h-full object-center object-cover absolute"
						cover="false"
						lazy="true"
						:sizes="view:sizes['{size}']"
					}}

                {{ /testimonial_featured_image }}
            </div>
            <div class="bg-primary text-lg px-11 py-16 md:px-14 md:py-20 lg:px-28 lg:py-28 col-span-12 md:col-span-7 {{ switch between=' md:order-2 | md:order-1 ' }}">
                <p class="text-white font-semibold">"{{ testimonial_content }}"</p>
                <p class="text-orange mb-0 text-right font-bold">- {{ title }}</p>
            </div>
        </div>
    {{ /collection }}
</div>
