{{#
	@name Call to action
	@desc The call to action page builder block.
    @set page.page_builder.call_to_action
#}}

<!-- /page_builder/_call_to_action.antlers.html -->
{{ if cta_title || ( cta_button_link && cta_button_text ) }}
<section class="fluid-container text-center py-24 lg:py-40">
    <div class="text-center max-w-4xl m-auto">
		{{ if cta_title }}
        	<h2 class="text-[50px] lg:text-[72px] tracking-normal uppercase font-black leading-snug mb-16 lg:mb-20">{{ cta_title }}</h2>
		{{ /if }}
		{{ if cta_button_link && cta_button_text }}
			<a href="{{ cta_button_link }}" class="button text-lg lg:text-2xl capitalize tracking-wide rounded-md px-9 py-4 inline-block font-bold">{{ cta_button_text }}</a>
		{{ /if }}
    </div>
</section>
{{ /if }}
<!-- End: /page_builder/_call_to_action.antlers.html -->
